html, body {
  margin: 0;
  padding: 0;
  height: 100%;  
  width: 100%;   
  overflow: hidden; 
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%; 
}

.header {
  width: 100%;
  z-index: 1000; 
}

.appBody {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f4f4f4;
}
