.sidebarContainer {
  width: 250px; 
  background-color: #f0f0f0;
  overflow-y: auto; 
  height: 100%; 
  z-index: 999; 
}

.sidebarList {
  width: 100%;
}

.sidebarListItem {
  display: flex;
  align-items: center;
}
