.sidebarContainer {
  width: 250px;
  background-color: #f0f0f0;
  overflow-y: auto;
  height: 100%;
  z-index: 999;
}

.sidebarList {
  width: 100%;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  color: #333; /* Default text color */
  text-decoration: none; /* Remove underline */
}

.sidebarListItem:hover {
  background-color: #db9a39; /* Background color on hover */
  cursor: pointer;
}

.sidebarListItem.active {
  background-color: #db9a39; /* Active background color */
  color: #fff; /* Active text color */
}

/* Prevent text color from changing on hover or active states */
.sidebarListItem:hover .MuiListItemText-root,
.sidebarListItem.active .MuiListItemText-root {
  color: inherit;
}
